.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
}

.hero-container{
    justify-content: space-between !important;
    align-items: flex-end;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}
/* Left-side  */
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.hero-tittle{
    position: relative;
    z-index: 1;
}
.hero-tittle h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 3rem;
}
.orange-circle{
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 50%;
    position: absolute;
    right: 58%;
    top: -10%;
    z-index: -1;
}
.hero-des{
    width: 70%;
}
.search-bar{
    width: 50%;
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar input{
    border: none;
    outline: none;
}

.stats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 4rem;
}
.stats .stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}
/* right side  */

.image-container{
    width: 20rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}
.image-container>img{
    height: 100%;
    width: 100%;
}


/* Responsive */

@media (max-width:768px){
   .hero-wrapper{
    width: 100%;
   }
   .hero-container{
    flex-direction: column;
    width: 100%;
    gap: 1rem;
   } 

   .orange-circle{
    right: 28%;
   }

   .search-bar{
    width: 100%;
   }

   .search-bar input{
    width: 60%;
   }
}