.f-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
}
.f-wrapper .f-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
}
.f-container .f-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.f-container .f-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.f-right .primaryText{
    font-size: 1rem;
}
.f-right .f-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}


@media (max-width:768px){
   
.f-wrapper{
    flex-direction: column;
}

.f-wrapper .f-container{
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;
}

}

