.h-wrapper{
    background-color: var(--black);
    color: white;
    width: 100%;
}

.h-container{
    justify-content: space-between !important;
    padding: 1rem 1.5rem;
    color: var(--secondary);
}
.h-menu{
    display: flex;
    align-items: center;
    gap: 2rem; 
 
}